<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css"/>
<head>
    <title>Portfolio</title>
</head>
<body >
<nav>
    <ul class="horizontal gray">
        <li><a href="/index.html" >About Me</a></li>
        <li><a href="/skill.html" >Skill</a></li>
        <li><a href="/contact.html">Contact Me</a></li>
        <li><a class="active" href="/portfolio.html">Porfolio</a></li>
      </ul>
</nav>

<section class="center" style="width:90%;">
    <div class="center" style="width:90%;">
        <div class="row">
                <div class="col-3"><img width="30px" src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/AWS-icon.png"><b>My Application</b></div>
                <div class="col-2"></div>
                <div class="col-5">
                    <input placeholder="Search Product" type="text" width="500"><button>Search</button></div>
                <div class="col-2"><a href="#">New Product</a></div>
        </div>
        <div id="item">
        <div class="row">
                <div class="col-3"><img src="https://cdn0.iconfinder.com/data/icons/business-mix/512/cargo-512.png"/></div>
                <div class="col-3">
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </div>
                <div class="col-3"><img src="https://cdn0.iconfinder.com/data/icons/business-mix/512/cargo-512.png"/></div>
                <div class="col-3">
                        <ul>
                                <li>Product Name</li>
                                <li>Price</li>
                                <li>Description</li>
                            </ul>
                </div>
        </div>
        <div class="row">
                <div class="col-3"><img src="https://cdn0.iconfinder.com/data/icons/business-mix/512/cargo-512.png"/></div>
                <div class="col-3">
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </div>
                <div class="col-3"><img src="https://cdn0.iconfinder.com/data/icons/business-mix/512/cargo-512.png"/></div>
                <div class="col-3">
                        <ul>
                                <li>Product Name</li>
                                <li>Price</li>
                                <li>Description</li>
                            </ul>
                </div>
        </div>
        <div class="row">
                <div class="col-3"><img src="https://cdn0.iconfinder.com/data/icons/business-mix/512/cargo-512.png"/></div>
                <div class="col-3">
                    <ul>
                        <li>Product Name</li>
                        <li>Price</li>
                        <li>Description</li>
                    </ul>
                </div>
                <div class="col-3"><img src="https://cdn0.iconfinder.com/data/icons/business-mix/512/cargo-512.png"/></div>
                <div class="col-3">
                        <ul>
                                <li>Product Name</li>
                                <li>Price</li>
                                <li>Description</li>
                            </ul>
                </div>
        </div>
    </div>
        
        
    </div>
   
</section>
</body>