body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #d1d1d1;
}

nav li a.active {
    color: black;
    background-color: #4d90fe;
}

#item{ margin-top: 20px; }
#item img{
    width: 100px;
}
nav{
    margin-bottom: 50px;
}
 .center {
margin: 0 auto;
padding: 10px;
}

section{ 
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    }
    button{
        color:white;
        background-color:steelblue;
        margin: 5px;
        width: 100px;
        border-radius: 5px;
    }