@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
h2 {
    color: blue;
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

.container-flex-end {
    display: flex;
    justify-content: flex-end;
}

.dark {
    background-color: darkslategrey;
}

.pastel {
    background-color: #c2d57b;
}

.dark h2,
.pastel h2,
.thead-pastel th {
    color: white;
}

.selectpicker {
    min-height: 500px;
}

.thead-pastel {
    background-color: teal;
}

/* responsive */

.img-panel {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.main-panel {
    width: 25%;
    display: flex;
    justify-content: flex-start;
}

.item-panel {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}

.item-panel>.item-img {
    width: 25%;
    padding-left: 10px;
}

@media (max-width: 1150px) {
    .img-panel {
        display: block;
    }
    .main-panel {
        width: 100%;
        display: block;
    }
    .main-panel>.item-img {
        width: 100%;
        padding: 5px;
    }
    .item-panel {
        width: 100%;
        padding-left: 0px;
        display: block;
        /*flex-wrap: wrap;*/
    }
    .item-panel>.item-img {
        width: 50%;
        padding: 5px;
        float: left;
    }
}

.button-zone {
    clear: both;
    float: none;
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    margin: 10px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.div-item {
    min-height: 400px;
    width: 30%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 10px 30px 10px 10px;
}

.item {
    flex: 0 0 auto;
    padding: 10px;
    max-width: 100%;
    background-color: black;
    margin: 10px;
}