.img-panel {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.main-panel{
    width: 25%;
    display:flex;
    justify-content: flex-start;
}

.item-panel {
    width: 75%;
    display:flex;
    justify-content: flex-start;
    padding-left:15px;
}

.item-panel > .item-img{
    width: 25%;
    padding-left:10px;
} 

@media (max-width: 1150px) {
    .img-panel{
        display: block;
    }   
    .main-panel{
        width: 100%;
        display: block;
    }

    .main-panel > .item-img{
        width: 100%;
        padding:5px;
    } 
    
    .item-panel {
        width: 100%;
        padding-left: 0px;
        display: block;
        /*flex-wrap: wrap;*/
    }

    .item-panel > .item-img{
        width: 50%;
        padding:5px;
        float:left;
    } 
}

.button-zone {
   clear: both;
   float: none;
   display: flex;
   justify-content: center;
}

.btn{ width:200px; margin: 10px; }

/* 4_3 */
/* .panel-item{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-content:flex-start;
    
}

.panel-item > img{
    width: 30%;
    height: 100%;
    padding: 5px;
    float: unset;
} */
