<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-attr-style="{{css.container}}" ng-class="{'with-phantom':invisibleItem}" class="container" style="min-height: 400px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;"><img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/4s.jpg"><img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/2s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/2s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/5s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/2s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/1s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/1s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/4s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/2s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/3s.jpg"> <img ng-repeat="n in nodes" ng-attr-style="{{css.item}}" ng-if="nodetype[0]=='img'" ng-attr-src="img/{{n.p}}s.jpg" class="ng-scope" style="flex: 0 0 auto;
  margin: 5px;" src="img/3s.jpg">
</div>
</body>
</html>